@import '~antd/dist/antd.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
}

.ant-layout, footer, .ant-layout-footer {
  background: #fff;
}

.container {
  padding: 24px 20px;
}