@import '~antd/dist/antd.css';

body {
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
}

.ant-layout, footer, .ant-layout-footer {
  background: #fff;
}

.container {
  padding: 24px 20px;
}

.ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 480px;
}

.logo {
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 16px;
}